@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis:300&display=swap');
.logo {
    background-color: rgb(255, 252, 246);
}

#YP_Bang {
    height: 150px;
    width: 400px;
    display: block;
    margin: auto;
}
.main{
    text-align: center;
    padding-top: 50px;
}
.nav button {
    font-family: 'Acme', ;
    color: rgb(238, 246, 253);
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 120px;
    padding: 60px;
    font-size: 15px;
    margin: 2px 2px;
    cursor: pointer;
}
.nav a{
    text-decoration: none;
}
.button:hover {
    /*  Making button bigger on hover  */
      height: 110%;
    }
#Home{
    background-color:#C70039 ;
    color:aliceblue;
    font-family: 'Acme';
    padding-bottom: 80px;
}
.home {
    background-image: url(icons/home-solid.svg);
    background-size: 50px;
    background-color: #C70039;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.7,1.41,.82,1.41);

    display: block;
    width: 50px;
    height: 60px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;

}

.home:hover {
    background-size: 600%;
}
#Home{
    background-color:#C70039 ;
    color:aliceblue;
    font-family: 'Acme';
    padding-top: 45px;
    padding-bottom: 95px;
    padding-right: 50px;
}
.home {
    background-image: url(icons/home-solid.svg);
    background-size: 50px;
    background-color: #C70039;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20%;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.7,1.41,.82,1.41);

    display: block;
    width: 50px;
    height: 75px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;

}

.home:hover {
    background-size: 90%;
}

#Event{
    background-color:#FDB750 ;
    color:aliceblue;
    font-family: 'Acme';
    padding-top: 45px;
    padding-bottom: 95px;
    padding-right: 50px;
}
.event {
    background-image: url(icons/calendar.svg);
    background-size: 50px;
    background-color: #FDB750;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20%;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.7,1.41,.82,1.41);

    display: block;
    width: 50px;
    height: 75px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;

}

.event:hover {
    background-size: 90%;
}

#Registration{
    background-color:#019992 ;
    color:aliceblue;
    font-family: 'Acme';
    padding-top: 30px;
    padding-bottom: 110px;
    padding-right: 50px;
}
.registration {
    background-image: url(icons/edit-regular.svg);
    background-size: 50px;
    background-color: #019992;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20%;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.7,1.41,.82,1.41);

    display: block;
    width: 50px;
    height: 75px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;

    padding-left: 30px;

}



.eventlist {
    display: none;
    position: absolute;
    background-color: #019992;
    text-decoration: none;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
.eventlist a {
    text-decoration: none;
    color: aliceblue;
}
.eventlist li{
    padding: 5px;
}

#Registration:hover .eventlist {
    display: block;
  }

.eventlist li :hover {
    font-size: 200%;
}

#Achievements{
    background-color:#7E9DC2 ;
    color:aliceblue;
    font-family: 'Acme';
    padding-top: 5px;
    padding-bottom: 135px;
    padding-left: 40px;
    padding-right: 40px;
}
.achievements {
    background-image: url(icons/trophy-solid.svg);
    background-size: 50px;
    background-color: #7E9DC2;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.7,1.41,.82,1.41);

    display: block;
    width: 50px;
    height: 75px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;

    padding-bottom: 40px;
    padding-left: 50px;

}
#text{
    text-align: center;
}
.achievements:hover {
    background-size: 40%;
}

#Team{
    background-color:#81499F ;
    color:aliceblue;
    font-family: 'Acme';
    padding-top: 5px;
    padding-bottom: 135px;
    padding-left: 40px;
    padding-right: 40px;
}
.team {
    background-image: url(icons/team-solid.svg);
    background-size: 50px;
    background-color: #81499F;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.7,1.41,.82,1.41);

    display: block;
    width: 50px;
    height: 75px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;

    padding-bottom: 40px;
    padding-left: 50px;

}

.team:hover {
    background-size: 40%;
}

#Contact{
    background-color:#F37970 ;
    color:aliceblue;
    font-family: 'Acme';
    padding-top: 5px;
    padding-bottom: 135px;
    padding-left: 40px;
    padding-right: 40px;
}
.contact {
    background-image: url(icons/comments-solid.svg);
    background-size: 50px;
    background-color: #F37970;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.7,1.41,.82,1.41);

    display: block;
    width: 50px;
    height: 75px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;

    padding-bottom: 40px;
    padding-left: 50px;

}

.contact:hover {
    background-size: 40%;
}
.nav button a {
    color: aliceblue;
}
.Title{
    font-family: 'Viaoda Libre', cursive;

}
.About1{
    background-color: bisque;

}
.About1 h2{
    margin-left: 40px;
    padding-top: 30px;
    font-size: 50px;

}
.About_1{
    margin-left: 40px;
    padding-top: 10px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

.About2{
    background-color: bisque;

}
.About2 h2{
    margin-left: 40px;
    padding-top: 30px;
    font-size: 50px;

}
.About_2{
    margin-left: 40px;
    padding-top: 0px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
}

.initiatives{
    background-color: bisque;
}
.initiatives h2{
    margin-left: 40px;
    padding-top: 30px;
    font-size: 50px;
}
.initiatives li{
    margin-left: 40px;
    padding-top: 0px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    padding-bottom: 20px;

}